<!-- Add New Insertion Button -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>work_outline</mat-icon>
    </div>
    <h4 class="section-title">Insertions professionnelles</h4>
  </div>

  <div style="text-align: right; margin-bottom: 20px;">
    <button
      mat-flat-button
      color="accent"
      type="button"
      routerLink="./insertion"
      class="btn-add-insertion"
    >
      <mat-icon>add</mat-icon>
      Ajouter nouvelle insertion
    </button>
  </div>

  <ng-container
    *ngFor="
      let item of INSERTION['controls']['list']['controls'];
      let i = index
    "
  >
    <div class="insertion-card">
      <ng-container [formGroup]="INSERTION['controls']['list']['controls'][i]">

        <!-- Entretien d'embauche Section -->
        <div class="form-section">
          <div class="section-header">
            <div class="section-icon">
              <mat-icon>people</mat-icon>
            </div>
            <h4 class="section-title">Entretien d'embauche {{ i + 1 }}</h4>
          </div>

          <ng-container
            *ngFor="
              let item of INSERTION.controls['list']['controls'][i]['controls'][
                'tracking_before'
              ]['controls'];
              let j = index
            "
          >
            <div
              class="dynamic-item-card"
              [formGroup]="
                INSERTION.controls['list']['controls'][i]['controls'][
                  'tracking_before'
                ]['controls'][j]
              "
            >
              <div class="item-header">
                <h5 class="item-title">
                  <span class="item-number">{{ j + 1 }}</span>
                  Entretien
                </h5>
                <div class="item-actions">
                  <button
                    type="button"
                    class="btn-add"
                    (click)="addBeforeInsertion(i)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                  <button
                    type="button"
                    *ngIf="j != 0"
                    class="btn-remove"
                    (click)="removeBeforeInsertion(i, j)"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>

              <div class="form-grid">
                <app-date-input
                  [formControl]="
                    INSERTION.controls['list']['controls'][i]['controls'][
                      'tracking_before'
                    ]['controls'][j]['controls']['interview_date']
                  "
                  [label]="'Date d\'entretien'"
                ></app-date-input>

                <app-select-input
                  [formControl]="
                    INSERTION.controls['list']['controls'][i]['controls'][
                      'tracking_before'
                    ]['controls'][j]['controls']['companyId']
                  "
                  [bold]="true"
                  [label]="'Entreprise'"
                  [options]="(companies$ | async)?.companies"
                  [isObservable]="true"
                  [optionDisplay]="'name'"
                ></app-select-input>

                <app-text-input
                  [formControl]="
                    INSERTION.controls['list']['controls'][i]['controls'][
                      'tracking_before'
                    ]['controls'][j]['controls']['job_position']
                  "
                  [label]="'Poste'"
                ></app-text-input>

                <app-textarea-input
                  [formControl]="
                    INSERTION.controls['list']['controls'][i]['controls'][
                      'tracking_before'
                    ]['controls'][j]['controls']['comment']
                  "
                  [label]="'Commentaire'"
                ></app-textarea-input>
              </div>
            </div>
          </ng-container>
        </div>

        <!-- Insertion Details Section -->
        <div class="form-section">
          <div class="section-header">
            <div class="section-icon">
              <mat-icon>assignment_turned_in</mat-icon>
            </div>
            <h4 class="section-title">Détails Insertion {{ i + 1 }}</h4>
          </div>

          <ng-container
            [formGroup]="
              INSERTION.controls['list']['controls'][i]['controls'][
                'tracking_after'
              ]
            "
          >
            <div class="form-grid">
              <app-select-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['category']
                "
                [bold]="true"
                [label]="'Catégorie'"
                [options]="Data.CATEGORIES"
                (valueChange)="onChangeCategory($event)"
              ></app-select-input>

              <app-select-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['contract_type']
                "
                [bold]="true"
                [label]="'Type de contrat'"
                [options]="CONTRACT_TYPE"
                [textTransform]="'uppercase'"
              ></app-select-input>

              <app-select-input
                class="form-field-full"
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['companyId']
                "
                [bold]="true"
                [label]="'Entreprise'"
                [options]="(companies$ | async)?.companies"
                [isObservable]="true"
                [optionDisplay]="'name'"
              ></app-select-input>

              <div class="toggle-field">
                <mat-slide-toggle
                  #isJobExists
                  [formControl]="
                    INSERTION.controls['list']['controls'][i]['controls'][
                      'tracking_after'
                    ]['controls']['isJobExists']
                  "
                >Offre existante</mat-slide-toggle>
              </div>

              <div class="conditional-field" *ngIf="isJobExists?.checked">
                <app-select-input
                  [formControl]="
                    INSERTION.controls['list']['controls'][i]['controls'][
                      'tracking_after'
                    ]['controls']['jobId']
                  "
                  [bold]="true"
                  [label]="'Offre d\'emploi'"
                  [options]="(jobs$ | async)"
                  [isObservable]="true"
                  [optionDisplay]="'reference'"
                ></app-select-input>
              </div>

              <app-date-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['start_date']
                "
                [label]="'Date début'"
              ></app-date-input>

              <app-date-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['end_date']
                "
                [label]="'Date fin'"
              ></app-date-input>

              <app-select-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['function_type']
                "
                [bold]="true"
                [label]="'Type de poste'"
                [options]="Data.JOB_TYPES"
              ></app-select-input>

              <app-text-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['function']
                "
                [label]="'Poste'"
              ></app-text-input>

              <app-select-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['insertion_type']
                "
                [bold]="true"
                [label]="'Insertion'"
                [options]="Data.INSERTION_TYPE"
              ></app-select-input>

              <app-select-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['duration']
                "
                [bold]="true"
                [label]="'Durée'"
                [options]="Data.JOB_DURATION"
              ></app-select-input>

              <app-select-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['salary']
                "
                [bold]="true"
                [label]="'Salaire'"
                [options]="Data.SALARIES"
              ></app-select-input>

              <app-select-input
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['cnss']
                "
                [bold]="true"
                [label]="'CNSS'"
                [options]="Data.YES_OR_NO"
                [deselectValue]="false"
              ></app-select-input>

              <app-select-input
                class="form-field-full"
                [formControl]="
                  INSERTION.controls['list']['controls'][i]['controls'][
                    'tracking_after'
                  ]['controls']['justificative_type']
                "
                [bold]="true"
                [label]="'Type de justification'"
                [options]="Data.JUSTIFICATIVE_TYPE"
              ></app-select-input>

              <div class="form-field-full" style="margin-top: 16px;">
                <button
                  mat-flat-button
                  type="button"
                  class="btn-edit-justification"
                  (click)="editJustification(i)"
                >
                  <mat-icon>edit</mat-icon>
                  Modifier la justification d'insertion {{ i + 1 }}
                </button>
              </div>
            </div>
          </ng-container>
        </div>

      </ng-container>
    </div>
  </ng-container>
</div>
