<div class="container p-2">
    <div class="row" *ngIf="isOwner">
      <div class="col-12 button--group">
        <button
          class="m-1 edit--button"
          mat-stroked-button
          color="accent"
          [routerLink]="['./edit']"
          [state]="job"
        >
          Modifier<mat-icon>edit</mat-icon>
        </button>
        <button
          class="m-1 delete--button"
          mat-stroked-button
          color="warn"
          (click)="archive()"
        >
          Archiver<mat-icon>work_off</mat-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-header class="header p-3">
            <mat-card-title class="text-center">{{ job?.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row p-2">
              <div class="col-4"><strong>Référence :</strong></div>
              <div class="col-8">{{ job?.reference }}</div>
            </div>
            <div class="row p-2">
              <div class="col-4"><strong>Entreprise :</strong></div>
              <div class="col-8">{{ job?.company?.name }}</div>
            </div>
            <div class="row p-2">
              <div class="col-4"><strong>Secteur d'activité :</strong></div>
              <div class="col-8">{{ job?.activity_area }}</div>
            </div>
            <div class="row p-2">
              <div class="col-4"><strong>Adresse :</strong></div>
              <div class="col-8">{{ job?.location }}</div>
            </div>
            <div class="row p-2">
              <div class="col-4"><strong>Contrat :</strong></div>
              <div class="col-8">{{ job?.type_contrat }}</div>
            </div>
            <div class="row p-2">
              <div class="col-4"><strong>Statut :</strong></div>
              <div class="col-8">{{ job?.status | titlecase }}</div>
            </div>
            <div class="row p-2">
              <div class="col-4"><strong>Publié :</strong></div>
              <div class="col-8">{{ job?.createdAt | date: "dd-MM-yyyy" }}</div>
            </div>
            <div class="row p-2">
              <div class="col-4">
                <strong>Description de l'offre d'emploi :</strong>
              </div>
              <div class="col-8">{{ job?.description }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  