<h1 mat-dialog-title>Changer {{data?.description == "TipPhoto" ? 'Tip photo' : 'Logo'}}</h1>
<div mat-dialog-content>
  <div class="container">
    <form
      id="photoForm"
      [formGroup]="PHOTO_FORM"
      (submit)="this.PHOTO_FORM.valid && editPhoto()"
      #form="ngForm"
      autocomplete="off"
    >
      <div class="row">
        <div class="col-12">
          <app-file-input
            [formControl]="PHOTO_FORM.controls['photo']"
            [label]="'Picture*'"
            [accept]="accept"
          ></app-file-input>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-button mat-dialog-close>Fermer</button>
  <button
    mat-raised-button
    type="submit"
    [disabled]="!this.PHOTO_FORM.valid"
    form="photoForm"
    color="primary"
  >
    Enregister
  </button>
</div>
