<div class="container">
  <div class="row p-4 align--text">
    <div class="col-12 col-sm-4">
      <img
        [src]="
          association?.tip?.photo
            ? host + association?.tip?.photo
            : 'assets/no_picture_available.png'
        "
        class="image-tip"
      />
    </div>
    <div class="col-12 col-sm-8">
      <div class="row my-2">
        <div class="col-md-5">
          <strong>Nom et Prénom :</strong>
        </div>
        <div class="col-md-7">
          <strong>{{ association?.tip?.fullname }}</strong>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-5">
          <strong>Email :</strong>
        </div>
        <div class="col-md-7">
          <strong>{{ association?.tip?.email }}</strong>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-5">
          <strong>Téléphone:</strong>
        </div>
        <div class="col-md-7">
          <strong>{{ association?.tip?.phone }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
