mat-card:hover .selection {
  opacity: 1;
}
mat-card.mat-elevation-z4 .selection {
  opacity: 1;
}
.card-selected {
  border: 4px solid #03644e;
}

.selection {
  opacity: 0;
  cursor: pointer;
  color: #03644e;
  background: #fff;
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}