<h1 mat-dialog-title>
  Edit Justification
</h1>
<div mat-dialog-content>
  <strong *ngIf="!isValidToInsertion" style="color: red;">** Veuillez remplir tous les champs d'insertion pour activer l'envoie de formulaire.</strong>
  <div class="container">
    <form
      id="photoForm"
      [formGroup]="FILE_FORM"
      (submit)="this.FILE_FORM.valid && editJustification()"
      #form="ngForm"
      autocomplete="off"
    >
      <div class="row">
        <div class="col-12">
          <app-file-input
            [formControl]="FILE_FORM.controls['file']"
            [accept]="'.pdf'"
            [label]="'Justification*'"
          ></app-file-input>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-button mat-dialog-close>Close</button>
  <button
    mat-raised-button
    type="submit"
    [disabled]="!this.FILE_FORM.valid || !isValidToInsertion"
    form="photoForm"
    color="primary"
  >
    Save
  </button>
</div>
