<div class="container">
  <h2 class="text-center p-2">Ajouter une nouvelle entreprise</h2>
  <mat-card class="example-card">
    <h4 class="subtitle"><strong>Informations générales</strong></h4>
    <mat-card-content>
      <form
        id="companyForm"
        [formGroup]="COMPANY_FORM"
        (submit)="COMPANY_FORM.valid && add()"
        #form="ngForm"
        autocomplete="off"
      >
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="COMPANY_FORM.controls['name']"
              [label]="'Nom*'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-select-input
              [formControl]="COMPANY_FORM.controls['activity_area']"
              [label]="'Secteur d\'activité*'"
              [options]="ACTIVITY_AREA"
            ></app-select-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="COMPANY_FORM.controls['address']"
              [label]="'Adresse'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-select-input
              [formControl]="COMPANY_FORM.controls['city']"
              [label]="'Ville*'"
              [options]="CITIES"
            ></app-select-input>
          </div>
        </div>
        <ng-container formGroupName="socialMedia">
          <div class="row">
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  COMPANY_FORM.get('socialMedia')['controls']['facebook']
                "
                [label]="'Facebook'"
              ></app-text-input>
            </div>
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  COMPANY_FORM.get('socialMedia')['controls']['twitter']
                "
                [label]="'Twitter'"
              ></app-text-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  COMPANY_FORM.get('socialMedia')['controls']['instagram']
                "
                [label]="'Instagram'"
              ></app-text-input>
            </div>
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  COMPANY_FORM.get('socialMedia')['controls']['linkedIn']
                "
                [label]="'Linkedin'"
              ></app-text-input>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="COMPANY_FORM.controls['email']"
              [label]="'Email*'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-file-input
              [formControl]="COMPANY_FORM.controls['logo']"
              [label]="'Logo'"
              [accept]="accept"
            ></app-file-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="COMPANY_FORM.controls['password']"
              [type]="'password'"
              [label]="'Mot de passe*'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="COMPANY_FORM.controls['repeat_password']"
              [type]="'password'"
              [label]="'Répéter le mot de passe*'"
            ></app-text-input>
          </div>
        </div>
        <ng-container formGroupName="person_contacted">
          <h4 class="subtitle"><strong>Représentant</strong></h4>
          <div class="row">
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  COMPANY_FORM.get('person_contacted')['controls']['fullname']
                "
                [label]="'Nom et prénom*'"
              ></app-text-input>
            </div>
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="COMPANY_FORM.get('person_contacted')['controls']['email']"
                [label]="'Email*'"
              ></app-text-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="COMPANY_FORM.get('person_contacted')['controls']['phone']"
                [label]="'Téléphone*'"
                [type]="'tel'"
              ></app-text-input>
            </div>
          </div>
        </ng-container>
      </form>
    </mat-card-content>
    <mat-card-actions class="submit-button" align="right">
      <button
        mat-raised-button
        type="submit"
        [disabled]="!COMPANY_FORM.valid"
        form="companyForm"
        color="primary"
      >
        Enregistrer
      </button>
    </mat-card-actions>
  </mat-card>
</div>
