<div class="container-fluid p-4">
    <div class="row">
        <div class="col">
            
            <app-association-filter></app-association-filter>
        </div>
    </div>
    <div class="row justify-content-start" *ngIf="associations$ | async as result">
        <!-- No Data State -->
        <div class="col-12" *ngIf="!result.associations || result.associations.length === 0">
          <div class="no-data-container">
            <img src="assets/noData.png" alt="No data available" class="no-data-image" />
            <p class="no-data-text">Aucune donnée disponible</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-2" *ngFor="let association of result.associations">
            <div class="association-card" [routerLink]="['./', association._id]" [state]="association">
                <div class="card-image-container">
                    <img [src]="association?.logo ? endpoint + association.logo : 'assets/no_picture_available.png'" [alt]="association?.raisonSocial">
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{association?.raisonSocial | titlecase}}</h3>
                    <div class="card-location">
                        <mat-icon>location_on</mat-icon>
                        <span>{{association?.city}}</span>
                    </div>
                </div>
                <div class="card-overlay">
                    <span class="view-details">Voir les détails</span>
                </div>
            </div>
        </div>  
    </div>
    <div class="pagination-container" *ngIf="(associations$ | async)?.totalCount > 0">
        <div class="pagination-info">
            Total: {{ (associations$ | async)?.totalCount }}
        </div>
        <p-paginator
            [rows]="pageSize"
            [totalRecords]="(associations$ | async)?.totalCount"
            [rowsPerPageOptions]="[7, 14, 28, 42]"
            [first]="first"
            (onPageChange)="onPageChange($event)"
            [showCurrentPageReport]="false"
        ></p-paginator>
    </div>
</div>