mat-card {
  box-shadow: -5px 6px 27px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 6px 27px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 6px 27px -3px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.card {
  display: inline-block;
  overflow: hidden;
}

.mat-card-image {
  margin: 0 -16px 0 -16px;
}

.card-title {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.card img {
  width: 150px;
  height: 130px;
  margin: auto;
  display: block;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.card mat-icon {
  font-size: 17px;
}

.mat-button {
  width: 100%;
}

.hidden {
  display: none;
}

.container:last-child {
  border-bottom: 1px solid red;
}

@media only screen and (max-width: 592px) {
  .container-fluid .row {
    justify-content: center !important;
  }
}
