<div class="filter-bar">
  <form
    [formGroup]="FILTER_FORM"
    (submit)="FILTER_FORM.dirty && filter()"
    autocomplete="off"
    class="filter-form"
  >
    <!-- Search Input -->
    <div class="filter-item search-input">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        type="text"
        [formControl]="FILTER_FORM.controls['filter']"
        placeholder="Nom / CIN"
        class="search-field"
      />
    </div>

    <!-- Status Dropdown -->
    <div class="filter-item dropdown">
      <mat-select
        [formControl]="FILTER_FORM.controls['youngStatus']"
        placeholder="Inséré(e)"
        panelClass="filter-dropdown-panel"
      >
        
        <mat-option [value]="true">Oui</mat-option>
        <mat-option [value]="false">Non</mat-option>
      </mat-select>
    </div>

    <!-- Level of Study Dropdown -->
    <div class="filter-item dropdown">
      <mat-select
        [formControl]="FILTER_FORM.controls['level_of_study']"
        placeholder="Niveau d'études"
        panelClass="filter-dropdown-panel"
      >
        <mat-option *ngFor="let option of Data.LEVEL_OF_STUDIES" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </div>

    <!-- Search Button -->
    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="search-button"
    >
      <mat-icon>search</mat-icon>
      Rechercher
    </button>

    <!-- Reset Button -->
    <button
      mat-button
      type="button"
      class="reset-button"
      (click)="resetFilters()"
      *ngIf="hasActiveFilters()"
    >
      <mat-icon>close</mat-icon>
      Réinitialiser
    </button>
  </form>
</div>
