<!-- Ateliers de renforcement des capacités Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>psychology</mat-icon>
    </div>
    <h4 class="section-title">Ateliers de renforcement des capacités</h4>
  </div>

  <ng-container
    *ngFor="
      let item of CAPACITY_BUILDING.controls['training']['controls'];
      let i = index
    "
  >
    <div
      class="dynamic-item-card"
      [formGroup]="CAPACITY_BUILDING.controls['training']['controls'][i]"
    >
      <div class="item-header">
        <h5 class="item-title">
          <span class="item-number">{{ i + 1 }}</span>
          Atelier
        </h5>
        <div class="item-actions">
          <button
            type="button"
            class="btn-add"
            (click)="addCapacityTraining()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            type="button"
            *ngIf="i != 0"
            class="btn-remove"
            (click)="removeCapacityTraining(i)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="form-grid">
        <app-select-input
          [formControl]="
            CAPACITY_BUILDING?.get('training')['controls'][i]['controls'][
              'title'
            ]
          "
          [label]="'Atelier'"
          [options]="Data.WORKSHOPS"
        ></app-select-input>

        <app-date-input
          [formControl]="
            CAPACITY_BUILDING?.get('training')['controls'][i]['controls'][
              'start_date'
            ]
          "
          [label]="'Date début'"
        ></app-date-input>

        <app-select-input
          class="form-field-full"
          [formControl]="
            CAPACITY_BUILDING?.get('training')['controls'][i]['controls'][
              'status'
            ]
          "
          [label]="'Status'"
          [options]="Data.STATUS"
        ></app-select-input>
      </div>
    </div>
  </ng-container>
</div>

<!-- Commentaire global Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>comment</mat-icon>
    </div>
    <h4 class="section-title">Commentaire global</h4>
  </div>

  <div class="form-grid">
    <app-textarea-input
      class="form-field-full"
      [formControl]="CAPACITY_BUILDING?.controls['comment']"
      [label]="'Commentaire'"
    ></app-textarea-input>
  </div>
</div>
