.company-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.button--group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.header {
  background-color: #f5f5f5;
}
