<div class="container">
  <h2 class="text-center p-2">Nouveau Passwork</h2>
  <mat-card class="example-card">
    <h4 class="subtitle"><strong>Informations générales</strong></h4>
    <mat-card-content>
      <form
        id="passworkForm"
        [formGroup]="PASSWORK_FORM"
        (submit)="PASSWORK_FORM.valid && add()"
        #form="ngForm"
        autocomplete="off"
      >
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="PASSWORK_FORM.controls['title']"
              [label]="'Titre*'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-select-input
              [formControl]="PASSWORK_FORM.controls['module']"
              [label]="'Module'"
              [options]="PASSWORK_MODULES"
            ></app-select-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <p-multiSelect
              [options]="(associations$ | async)?.associations"
              [formControl]="PASSWORK_FORM.controls['associations']"
              optionLabel="raisonSocial"
              defaultLabel="Associations"
              optionValue="_id"
            ></p-multiSelect>
          </div>
          <div class="col-12 col-md-6">
            <p-dropdown
              [options]="(companies$ | async)?.companies"
              [formControl]="PASSWORK_FORM.controls['company']"
              [showClear]="true"
              placeholder="Sélectionnez une entreprise"
              optionLabel="name"
              defaultLabel="Entreprise"
              filter="true"
              optionValue="_id"
            ></p-dropdown>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="PASSWORK_FORM.controls['nbr_beneficiaries']"
              [label]="'Nombre de bénéficiaires'"
              [type]="'number'"
            ></app-text-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-date-input
              [formControl]="PASSWORK_FORM.controls['start_date']"
              [label]="'Date début'"
            ></app-date-input>
          </div>
          <div class="col-12 col-md-6">
            <app-date-input
              [formControl]="PASSWORK_FORM.controls['end_date']"
              [label]="'Date fin'"
            ></app-date-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-file-input
              [formControl]="PASSWORK_FORM.controls['training_modules']"
              [label]="'Modules de formation'"
              [accept]="'.pdf'"
            ></app-file-input>
          </div>
          <div class="col-12 col-md-6">
            <app-file-input
              [formControl]="PASSWORK_FORM.controls['training_planning']"
              [label]="'Planning de formation'"
              [accept]="'.pdf'"
            ></app-file-input>
          </div>
        </div>
        <h5 class="subtitle pt-4"><strong>Centre de formation</strong></h5>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="
                PASSWORK_FORM.get('training_center')['controls']['name']
              "
              [label]="'Nom du centre'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="
                PASSWORK_FORM.get('training_center')['controls']['address']
              "
              [label]="'Adresse'"
            ></app-text-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="
                PASSWORK_FORM.get('training_center')['controls']['phone']
              "
              [label]="'Téléphone'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="
                PASSWORK_FORM.get('training_center')['controls']['email']
              "
              [label]="'Email'"
            ></app-text-input>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="submit-button" align="right">
      <button
        mat-raised-button
        type="submit"
        [disabled]="!PASSWORK_FORM.valid"
        form="passworkForm"
        color="primary"
      >
        Enregistrer
      </button>
    </mat-card-actions>
  </mat-card>
</div>
