<!-- Capacity Building Workshops Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>groups</mat-icon>
    </div>
    <h4 class="section-title">Ateliers de Renforcement des Capacités</h4>
  </div>

  <ng-container
    *ngFor="
      let item of CAPACITY_BUILDING.controls['training']['controls'];
      let i = index
    "
  >
    <div class="dynamic-item-card">
      <ng-container
        [formGroup]="CAPACITY_BUILDING.controls['training']['controls'][i]"
      >
        <div class="item-header">
          <h6 class="item-title">
            <span class="item-number">{{ i + 1 }}</span>
            Atelier
          </h6>
          <div class="item-actions">
            <button type="button" class="btn-add" (click)="addCapacityTraining()">
              <mat-icon>add</mat-icon>
            </button>
            <button
              type="button"
              *ngIf="i != 0"
              class="btn-remove"
              (click)="removeCapacityTraining(i)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

        <div class="form-grid">
          <div>
            <app-select-input
              [formControl]="
                CAPACITY_BUILDING.get('training')['controls'][i]['controls'][
                  'title'
                ]
              "
              [label]="'Atelier'"
              [bold]="true"
              [options]="Data.WORKSHOPS"
            ></app-select-input>
          </div>
          <div>
            <app-date-input
              [formControl]="
                CAPACITY_BUILDING.get('training')['controls'][i]['controls'][
                  'start_date'
                ]
              "
              [label]="'Date début'"
            ></app-date-input>
          </div>
          <div class="form-field-full">
            <app-select-input
              [formControl]="
                CAPACITY_BUILDING.get('training')['controls'][i]['controls'][
                  'status'
                ]
              "
              [bold]="true"
              [label]="'Status'"
              [options]="Data.STATUS"
            ></app-select-input>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<!-- Global Comment Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>comment</mat-icon>
    </div>
    <h4 class="section-title">Commentaire Global</h4>
  </div>

  <div class="form-grid">
    <div class="form-field-full">
      <app-textarea-input
        [formControl]="CAPACITY_BUILDING.controls['comment']"
        [label]="'Commentaire'"
      ></app-textarea-input>
    </div>
  </div>
</div>
