<h1 mat-dialog-title>Changer le mot de passe</h1>
<div mat-dialog-content>
  <div class="container">
    <form
      id="passwordForm"
      [formGroup]="PASSWORD_FORM"
      (submit)="this.PASSWORD_FORM.valid && editPassword()"
      #form="ngForm"
      autocomplete="off"
    >
      <div class="row">
        <div class="col-12 col-md-6">
          <app-text-input
            [formControl]="PASSWORD_FORM.controls['password']"
            [type]="'password'"
            [label]="'Mot de passe*'"
          ></app-text-input>
        </div>
        <div class="col-12 col-md-6">
          <app-text-input
            [formControl]="PASSWORD_FORM.controls['repeat_password']"
            [type]="'password'"
            [label]="'Répéter le mot de passe*'"
          ></app-text-input>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-button mat-dialog-close>Fermer</button>
  <button
    mat-raised-button
    type="submit"
    [disabled]="!this.PASSWORD_FORM.valid"
    form="passwordForm"
    color="primary"
  >
    Enregistrer
  </button>
</div>
