<div class="filter-bar">
  <form
    [formGroup]="FILTER_FORM"
    (submit)="FILTER_FORM.dirty && filter()"
    autocomplete="off"
    class="filter-form"
  >
    <!-- Search Input -->
    <div class="filter-item search-input">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        type="text"
        [formControl]="FILTER_FORM.controls['filter']"
        placeholder="Nom ou Raison Social"
        class="search-field"
      />
    </div>

    <!-- City Dropdown -->
    <div class="filter-item dropdown">
      <mat-select
        [formControl]="FILTER_FORM.controls['city']"
        placeholder="Ville"
        multiple
        panelClass="filter-dropdown-panel"
      >
        <mat-option *ngFor="let city of CITIES" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </div>

    <!-- Date Range -->
    <div class="filter-item date-range">
      <mat-icon class="date-icon">date_range</mat-icon>
      <mat-date-range-input [rangePicker]="datePicker" class="date-range-input">
        <input matStartDate [formControl]="FILTER_FORM.controls['dateFrom']" placeholder="Du">
        <input matEndDate [formControl]="FILTER_FORM.controls['dateTo']" placeholder="Au">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #datePicker></mat-date-range-picker>
    </div>

    <!-- Search Button -->
    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="search-button"
    >
      <mat-icon>search</mat-icon>
      Rechercher
    </button>

    <!-- Reset Button -->
    <button
      mat-button
      type="button"
      class="reset-button"
      (click)="resetFilters()"
      *ngIf="hasActiveFilters()"
    >
      <mat-icon>close</mat-icon>
      Réinitialiser
    </button>
  </form>
</div>
