<div class="container-fluid p-4">
  <div class="row">
    <div class="col">
      <app-company-filter-youth></app-company-filter-youth>
    </div>
  </div>

  <app-young-card [youth$]="youth$" [isFull]="false"></app-young-card>

  <div class="pagination-container" *ngIf="(youth$ | async)?.totalCount > 0">
    <div class="pagination-info">
      Total Arrivals: {{ (youth$ | async)?.totalCount }}
    </div>
    <p-paginator
      [rows]="pageSize"
      [totalRecords]="(youth$ | async)?.totalCount"
      [rowsPerPageOptions]="[5, 10, 20, 50]"
      [first]="first"
      (onPageChange)="onPageChange($event)"
      [showCurrentPageReport]="false"
    ></p-paginator>
  </div>
</div>
