<div class="container-fluid p-4">
  <div class="row">
    <div class="col">
      <app-company-filter-youth></app-company-filter-youth>
    </div>
  </div>

  <app-young-card [youth$]="youth$" [isFull]="false"></app-young-card>

  <div class="row" [class.hidden]="(youth$ | async) ? false : true">
    <div class="col align-self-end p-2">
      <mat-paginator
        [length]="(youth$ | async)?.totalCount"
        [pageSize]="PAGE_SIZE"
        [pageSizeOptions]="[5, 10, 20, 50]"
      >
      </mat-paginator>
    </div>
  </div>
</div>
