.fa-facebook {
  background: rgba(255, 255, 255, 0.726);
  color: #4267b2;
  border-radius: 50%;
}

.fa-twitter {
  background: rgba(255, 255, 255, 0.726);
  color: #1da1f2;
  border-radius: 50%;
}

.fa-instagram {
  background: rgba(255, 255, 255, 0.726);
  color: #e1306c;
  border-radius: 50%;
}

.fa-linkedin-in {
  background: rgba(255, 255, 255, 0.726);
  color: #2867b2;
  border-radius: 50%;
}

mat-card img {
  box-shadow: 0 0 10px;
  height: 50vh;
}
