<div class="container">
  <h2 class="text-center p-2">Ajouter une nouvelle association</h2>
  <mat-card class="example-card">
    <h4 class="subtitle"><strong>informations générales</strong></h4>
    <mat-card-content>
      <form
        id="associationFrom"
        [formGroup]="ASSOCIATION_FORM"
        (submit)="this.ASSOCIATION_FORM.valid && add()"
        #form="ngForm"
        autocomplete="off"
      >
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="ASSOCIATION_FORM.controls['raisonSocial']"
              [label]="'Raison Sociale*'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="ASSOCIATION_FORM.controls['name']"
              [label]="'Responsable Juridique*'"
            ></app-text-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="ASSOCIATION_FORM.controls['email']"
              [label]="'Email*'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="ASSOCIATION_FORM.controls['address']"
              [label]="'Adresse'"
            ></app-text-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="ASSOCIATION_FORM.controls['password']"
              [type]="'password'"
              [label]="'Mot de passe*'"
            ></app-text-input>
          </div>
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="ASSOCIATION_FORM.controls['repeat_password']"
              [type]="'password'"
              [label]="'Répéter le mot de passe*'"
            ></app-text-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-select-input
              [formControl]="ASSOCIATION_FORM.controls['city']"
              [label]="'Ville*'"
              [options]="CITIES"
            ></app-select-input>
          </div>
          <div class="col-12 col-md-6">
            <app-text-input
              [formControl]="ASSOCIATION_FORM.controls['webSite']"
              [label]="'Site Internet'"
            ></app-text-input>
          </div>
        </div>
        <ng-container formGroupName="socialMedia">
          <div class="row">
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  ASSOCIATION_FORM.get('socialMedia')['controls']['facebook']
                "
                [label]="'Facebook'"
              ></app-text-input>
            </div>
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  ASSOCIATION_FORM.get('socialMedia')['controls']['twitter']
                "
                [label]="'Twitter'"
              ></app-text-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  ASSOCIATION_FORM.get('socialMedia')['controls']['instagram']
                "
                [label]="'Instagram'"
              ></app-text-input>
            </div>
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  ASSOCIATION_FORM.get('socialMedia')['controls']['linkedIn']
                "
                [label]="'Linkedin'"
              ></app-text-input>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                placeholder="Mettez votre description ici..."
                formControlName="description"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Logo</mat-label>
              <ngx-mat-file-input formControlName="logo" [accept]="accept">
              </ngx-mat-file-input>
              <mat-icon matSuffix>attach_file</mat-icon>
              <mat-hint align="start"
                ><strong>Nous n'acceptons que les fichiers PNG ou JPEG</strong></mat-hint
              >
              <mat-error
                *ngIf="ASSOCIATION_FORM.get('logo').hasError('maxSize')"
              >
                La taille d'image doit être inférieure à <strong>2 Mb</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-date-input
              [formControl]="ASSOCIATION_FORM.controls['collaborationDate']"
              [label]="'Date de collaboration'"
              [maxDate]="maxDate"
            ></app-date-input>
          </div>
          <div class="col-12 col-md-6">
            <app-date-input
              [formControl]="ASSOCIATION_FORM.controls['creationDate']"
              [label]="'Date de création'"
              [maxDate]="maxDate"
            ></app-date-input>
          </div>
        </div>
        <ng-container formGroupName="tip">
          <h4 class="subtitle"><strong>Informations sur le TIP</strong></h4>
          <div class="row">
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="
                  ASSOCIATION_FORM.get('tip')['controls']['fullname']
                "
                [label]="'Nom et Prénom*'"
              ></app-text-input>
            </div>
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="ASSOCIATION_FORM.get('tip')['controls']['email']"
                [label]="'Email*'"
              ></app-text-input>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <app-text-input
                [formControl]="ASSOCIATION_FORM.get('tip')['controls']['phone']"
                [label]="'Téléphone*'"
                [type]="'tel'"
              ></app-text-input>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Photo</mat-label>
                <ngx-mat-file-input formControlName="photo" [accept]="accept">
                </ngx-mat-file-input>
                <mat-icon matSuffix>attach_file</mat-icon>
                <mat-hint align="start"
                  ><strong>Nous n'acceptons que les fichiers PNG ou JPEG</strong></mat-hint
                >
                <mat-error
                  *ngIf="
                    ASSOCIATION_FORM.get('tip')['controls']['photo'].hasError(
                      'maxSize'
                    )
                  "
                >
                  La taille d'image doit être inférieure à <strong>2 Mb</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </form>
    </mat-card-content>
    <mat-card-actions class="submit-button">
      <button
        mat-raised-button
        type="submit"
        [disabled] = "!this.ASSOCIATION_FORM.valid"
        form="associationFrom"
        color="primary"
      >
        Enregister
      </button>
    </mat-card-actions>
  </mat-card>
</div>
