<!-- Level of Study Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>school</mat-icon>
    </div>
    <h4 class="section-title">Niveau d'Étude</h4>
  </div>

  <ng-container [formGroup]="SKILLS_ASSESSMENT.controls['level_of_study']">
    <div class="form-grid">
      <div>
        <app-select-input [formControl]="
            SKILLS_ASSESSMENT.get('level_of_study')['controls']['level']
          " [label]="'Niveau d\'étude'" [options]="Data.LEVEL_OF_STUDIES" [bold]="true"></app-select-input>
      </div>
      <div>
        <app-textarea-input [formControl]="
            SKILLS_ASSESSMENT.get('level_of_study')['controls']['description']
          " [label]="'Détail de la formation'" [placeholder]="'Remplir vos données...'"></app-textarea-input>
      </div>
    </div>
  </ng-container>
</div>

<!-- Languages Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>translate</mat-icon>
    </div>
    <h4 class="section-title">Langues</h4>
  </div>

  <div class="form-grid">
    <div>
      <app-select-input [formControl]="SKILLS_ASSESSMENT.controls['languages']" [label]="'Langues'" [multiple]="true"
        [options]="Data.LANGUAGES"></app-select-input>
    </div>
    <div>
      <app-text-input [formControl]="SKILLS_ASSESSMENT.controls['languages_comment']"
        [label]="'Commentaire'"></app-text-input>
    </div>
  </div>
</div>

<!-- Professional Training Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>workspace_premium</mat-icon>
    </div>
    <h4 class="section-title">Formation Professionnelle</h4>
  </div>

  <ng-container *ngFor="
      let item of SKILLS_ASSESSMENT.controls['professional_training'][
        'controls'
      ];
      let i = index
    ">
    <div class="dynamic-item-card">
      <ng-container [formGroup]="
          SKILLS_ASSESSMENT.controls['professional_training']['controls'][i]
        ">
        <div class="item-header">
          <h6 class="item-title">
            <span class="item-number">{{ i + 1 }}</span>
            Formation
          </h6>
          <div class="item-actions">
            <button type="button" class="btn-add" (click)="addProfessionalTraining()">
              <mat-icon>add</mat-icon>
            </button>
            <button type="button" *ngIf="i != 0" class="btn-remove" (click)="removeProfessionalTraining(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

        <div class="form-grid">
          <div>
            <app-select-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_training')['controls'][i][
                  'controls'
                ]['type_formation']
              " [label]="'Type de formation'" [bold]="true" [options]="Data.LEVEL_OF_STUDY"></app-select-input>
          </div>
          <div>
            <app-text-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_training')['controls'][i][
                  'controls'
                ]['specialty']
              " [label]="'Spécialité'"></app-text-input>
          </div>
          <div>
            <app-text-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_training')['controls'][i][
                  'controls'
                ]['institution']
              " [label]="'Établissement'"></app-text-input>
          </div>
          <div>
            <app-text-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_training')['controls'][i][
                  'controls'
                ]['cetificate']
              " [label]="'Certificat ou Diplôme'"></app-text-input>
          </div>
          <div>
            <app-date-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_training')['controls'][i][
                  'controls'
                ]['start_date']
              " [label]="'Date début'"></app-date-input>
          </div>
          <div>
            <app-date-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_training')['controls'][i][
                  'controls'
                ]['end_date']
              " [label]="'Date fin'"></app-date-input>
          </div>
          <div class="form-field-full">
            <app-textarea-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_training')['controls'][i][
                  'controls'
                ]['comment']
              " [label]="'Commentaire'"></app-textarea-input>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<!-- Professional Experience Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>work_history</mat-icon>
    </div>
    <h4 class="section-title">Expériences Professionnelles</h4>
  </div>

  <ng-container *ngFor="
      let item of SKILLS_ASSESSMENT.controls['professional_experience'][
        'controls'
      ];
      let i = index
    ">
    <div class="dynamic-item-card">
      <ng-container [formGroup]="
          SKILLS_ASSESSMENT.controls['professional_experience']['controls'][i]
        ">
        <div class="item-header">
          <h6 class="item-title">
            <span class="item-number">{{ i + 1 }}</span>
            Expérience
          </h6>
          <div class="item-actions">
            <button type="button" class="btn-add" (click)="addProfessionalExperience()">
              <mat-icon>add</mat-icon>
            </button>
            <button type="button" *ngIf="i != 0" class="btn-remove" (click)="removeProfessionalExperience(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

        <div class="form-grid">
          <div>
            <app-select-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_experience')['controls'][i][
                  'controls'
                ]['genre']
              " [label]="'Type d\'expérience professionnelle'"
               [options]="Data.WORK_TYPE"
               [textTransform]="'uppercase'"
               [bold]="true">
            </app-select-input>
          </div>
          <div>
            <app-text-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_experience')['controls'][i][
                  'controls'
                ]['institution']
              " [label]="'Établissement'"></app-text-input>
          </div>
          <div>
            <app-text-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_experience')['controls'][i][
                  'controls'
                ]['function']
              " [label]="'Poste'"></app-text-input>
          </div>
          <div>
            <app-date-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_experience')['controls'][i][
                  'controls'
                ]['start_date']
              " [label]="'Date début'"></app-date-input>
          </div>
          <div>
            <app-date-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_experience')['controls'][i][
                  'controls'
                ]['end_date']
              " [label]="'Date fin'"></app-date-input>
          </div>
          <div class="form-field-full">
            <app-textarea-input [formControl]="
                SKILLS_ASSESSMENT.get('professional_experience')['controls'][i][
                  'controls'
                ]['comment']
              " [label]="'Commentaire'"></app-textarea-input>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<!-- TIP Interview Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>record_voice_over</mat-icon>
    </div>
    <h4 class="section-title">Entretien TIP</h4>
  </div>

  <ng-container [formGroup]="SKILLS_ASSESSMENT.controls['tip_interview']">
    <div class="form-grid">
      <div>
        <app-date-input [formControl]="
            SKILLS_ASSESSMENT.get('tip_interview')['controls']['date']
          " [label]="'Date d\'entretien'"></app-date-input>
      </div>
      <div>
        <app-textarea-input [formControl]="
            SKILLS_ASSESSMENT.get('tip_interview')['controls']['comment']
          " [label]="'Conclusion de l\'entretien avec l\'usager du TIP'"
          [placeholder]="'Remplir vos données...'"></app-textarea-input>
      </div>
    </div>
  </ng-container>
</div>

<!-- Skills Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>psychology</mat-icon>
    </div>
    <h4 class="section-title">Compétences</h4>
  </div>

  <ng-container [formGroup]="SKILLS_ASSESSMENT.controls['skills']">
    <div class="form-grid">
      <div>
        <app-select-input [formControl]="
            SKILLS_ASSESSMENT.get('skills')['controls']['hard_skills']
          " [label]="'Compétences techniques (Hard Skills)'" [multiple]="true" [isGrouped]="true"
          [options]="Data.HARD_SKILLS"></app-select-input>
      </div>
      <div>
        <app-select-input [formControl]="
            SKILLS_ASSESSMENT.get('skills')['controls']['soft_skills']
          " [label]="'Compétences relationnelles (Soft Skills)'" [multiple]="true"
          [options]="Data.SOFT_SKILLS"></app-select-input>
      </div>
    </div>
  </ng-container>
</div>
