<div class="row">
  <div class="col-11 card m-2 text-center" *ngIf="isFull">
    <h4> {{status ? 'Inséré(e)' : 'Non Inséré(e)'}} </h4>
    <h4 *ngIf="!status && personalInfo?.isPriority">
      <mat-icon>notifications_active </mat-icon>
      <strong> Besoin d'insertion immédiat !</strong>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4 picture-container m-2">
    <img
      [src]="
        personalInfo?.photo
          ? host + personalInfo?.photo
          : 'assets/no_picture_available.png'
      "
      alt=""
    />
  </div>
  <div class="col-12 col-md-7 card p-0 m-2">
    <div class="header px-3 pt-3">
      <h2>Informations générales</h2>
    </div>
    <div class="content p-4">
      <p>
        <strong>Nom et prénom :</strong>
        {{ personalInfo?.fullname | titlecase }}
      </p>
      <p>
        <strong>Identifiant :</strong>
        {{ personalInfo?.identifier }}
      </p>
      <p>
        <strong>Adresse : </strong>{{ personalInfo?.address | titlecase }} 
        {{ personalInfo?.city | titlecase }}
      </p>
      <p>
        <strong>Date de naissance : </strong
        >{{ personalInfo?.birth_date | date: "dd-MM-yyyy" }}
      </p>
      <p *ngIf="isFull">
        <strong>Date d'inscription : </strong
        >{{ personalInfo?.inscription_date | date: "dd-MM-yyyy" }}
      </p>
      <p><strong>Genre : </strong>{{ personalInfo?.gendre | titlecase }}</p>
      <p *ngIf="isFull"><strong>Téléphone : </strong>{{ personalInfo?.phone }}</p>
      <p *ngIf="isFull"><strong>Numéro CIN :</strong> {{ personalInfo?.cin_id }}</p>
      <p *ngIf="isFull"><strong>Numéro CNSS :</strong> {{ personalInfo?.cnss_id }}</p>
      <p><strong>Nationalité :</strong> {{ personalInfo?.nationality }}</p>
      <p><strong>Nationalité commentaire :</strong> {{ personalInfo?.nationality_comment }}</p>
      <p *ngIf="isFull">
        <strong>Comment il a connu notre service : </strong
        >{{ personalInfo?.connectedBy | titlecase }}
      </p>
      <p><strong>Loisirs :</strong> {{ personalInfo?.hobbies }}</p>
      <p *ngIf="isFull">
        <strong>Activités associatives : </strong
        >{{ personalInfo?.associative_activity | titlecase }}
      </p>
      <p *ngIf="!isFull">
        <strong>Association : </strong
        > <a [routerLink]="[ './association/', associationId]">{{ associationName | titlecase }} <mat-icon>open_in_new</mat-icon>
        </a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4 card p-0 m-2">
    <div class="header px-3 pt-3">
      <h2>Situation matrimoniale</h2>
    </div>
    <div class="content p-4">
      <p>
        <strong>Etat civil:</strong>
        {{ personalInfo?.civil_status | titlecase }}
      </p>
      <p *ngIf="isFull"><strong>Nombre d'enfants : </strong>{{ personalInfo?.kids_nbr }}</p>
      <p *ngIf="isFull"><strong>Logement : </strong>{{ personalInfo?.housing | titlecase }}</p>
    </div>
  </div>
  <div class="col-12 col-md-7 card p-0 m-2">
    <div class="header px-3 pt-3">
      <h2>Situation Socio Economique</h2>
    </div>
    <div class="content p-4">
      <p><strong>Situation Actuelle : </strong>{{ personalInfo?.current_function }}</p>
      <p *ngIf="isFull">
        <strong>Nombre de personne à charge : </strong
        >{{ personalInfo?.people_in_charge_nbr }}
      </p>
    </div>
  </div>
</div>
<div class="row" *ngIf="isFull">
  <div class="col-12 col-md-11 card p-0 m-2">
    <div class="header px-4 pt-3">
      <h2>Etat Physique</h2>
    </div>
    <div class="content p-4">
      <div class="row">
        <div class="col-12 col-md-4">
          <p>
            <strong>Le bénéficaire souffre t-il d'une addiction :</strong>

            {{
              personalInfo?.physical_state?.addiction?.status ? "Oui" : "Non"
            }}
          </p>
        </div>
        <div
          class="col-12 col-md-8"
          *ngIf="personalInfo?.physical_state?.addiction?.status"
        >
          <p>
            <strong>Détails :</strong>
            {{
              personalInfo?.physical_state?.addiction?.description | titlecase
            }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <p>
            <strong
              >Le bénéficaire souffre t-il d'un handicap quelconque :
            </strong>

            {{ personalInfo?.physical_state?.handicap?.status ? "Oui" : "Non" }}
          </p>
        </div>
        <div
          class="col-12 col-md-8"
          *ngIf="personalInfo?.physical_state?.handicap?.status"
        >
          <p>
            <strong>Détails : </strong>
            {{
              personalInfo?.physical_state?.handicap?.description | titlecase
            }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <p>
            <strong>
              Le bénéficaire souffre t-il d'une maladie chronique :</strong
            >

            {{
              personalInfo?.physical_state?.health_issue?.status ? "Oui" : "Non"
            }}
          </p>
        </div>
        <div
          class="col-12 col-md-8"
          *ngIf="personalInfo?.physical_state?.health_issue?.status"
        >
          <p>
            <strong>Détails :</strong>

            {{
              personalInfo?.physical_state?.health_issue?.chronic_illness
                | titlecase
            }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            <strong>
              Le bénéficaire a t-il eu an antécedent médical qui pourrait
              affecter son rendement au travail :
            </strong>

            {{
              personalInfo?.physical_state?.health_issue?.ongoing_treatment
                | titlecase
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
