<div class="row">
  <div class="col-12 card p-0 m-2">
    <div class="header px-3 pt-3">
      <h2>Formations Pro. PASSWORK</h2>
    </div>
    <div class="row content p-4">
      <div class="col-12 col-sm-6" *ngFor="let training of passwork?.trainings; index as i">
        <h6 class="sub_subtitle"><strong>Formation {{i + 1}}</strong></h6>
        <p><strong>Formation Passwork: </strong>{{training?.passwork_training?.title | titlecase}}</p>
        <p><strong>Date début Passwork: </strong>{{training?.passwork_training?.start_date | date: "dd-MM-yyyy"}}</p>
        <p><strong>Date de participation : </strong>{{training?.start_date | date: "dd-MM-yyyy"}}</p>
        <p><strong>Date fin de participation: </strong>{{training?.end_date | date: "dd-MM-yyyy"}}</p>
        <p><strong>Commentaire : </strong>{{training?.comment | titlecase}}</p>
      </div>
    </div>
  </div>
</div>
