<div class="container-fluid">
  <form [formGroup]="YONG_FORM" (submit)="this.YONG_FORM.valid && edit()">
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step
        #step1
        formGroupName="personal_info"
        [stepControl]="YONG_FORM.controls['personal_info']"
      >
        <ng-template matStepLabel>Renseignements personnels</ng-template>
        <app-edit-young-personal-info
          [currentUserId]="currentId"
          [formGroup]="YONG_FORM.controls['personal_info']"
        ></app-edit-young-personal-info>
        <div class="text-end">
          <button mat-button color="primary" type="button" matStepperNext>
            Suivant
          </button>
        </div>
      </mat-step>
      <mat-step
        #step2
        formGroupName="skills_assessment"
        [stepControl]="YONG_FORM.controls['skills_assessment']"
      >
        <ng-template matStepLabel>Bilan de compétences</ng-template>
        <app-edit-young-skills-assessment
          [formGroup]="YONG_FORM.controls['skills_assessment']"
        ></app-edit-young-skills-assessment>
        <div class="text-end">
          <button mat-button color="primary" type="button" matStepperNext>
            Suivant
          </button>
        </div>
      </mat-step>
      <mat-step
        #step3
        formGroupName="capacity_building"
        [stepControl]="YONG_FORM.controls['capacity_building']"
      >
        <ng-template matStepLabel
          >Ateliers de renforcement de capacités</ng-template
        >
        <app-edit-young-capacity-building
          [formGroup]="YONG_FORM.controls['capacity_building']"
        ></app-edit-young-capacity-building>
        <div class="text-end">
          <button mat-button color="primary" type="button" matStepperNext>
            Suivant
          </button>
        </div>
      </mat-step>
      <mat-step
        #step4
        formGroupName="passwork"
        [stepControl]="YONG_FORM.controls['passwork']"
      >
        <ng-template matStepLabel
          >Formations professionnelles PASSWORK</ng-template
        >
        <app-edit-young-passwork
          [formGroup]="YONG_FORM.controls['passwork']"
        ></app-edit-young-passwork>
        <div class="text-end">
          <button mat-button color="primary" type="button" matStepperNext>
            Suivant
          </button>
        </div>
      </mat-step>
      <mat-step
        #step5
        formGroupName="insertion"
        [stepControl]="YONG_FORM.controls['insertion']"
      >
        <ng-template matStepLabel>Insertion</ng-template>
        <app-edit-young-insertion
          [currentUserId]="currentId"
          [formGroup]="YONG_FORM.controls['insertion']"
        ></app-edit-young-insertion>
        <div class="text-end">
          <button mat-button color="primary" type="button" matStepperNext>
            Suivant
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Finaliser</ng-template>
        <p>Voulez-vous soumettre les données?</p>
        <div class="text-end">
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-raised-button color="primary" type="submit">
            Soumettre
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
