<h1 mat-dialog-title>Changer le logo</h1>
<div mat-dialog-content>
  <form [formGroup]="PHOTO_FORM" autocomplete="off">
    <app-file-input
      [formControl]="PHOTO_FORM.controls['logo']"
      [label]="'Logo'"
      [accept]="accept"
    ></app-file-input>
  </form>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-stroked-button mat-dialog-close>Annuler</button>
  <button mat-stroked-button [disabled]="!PHOTO_FORM.valid" (click)="editPhoto()" color="primary">Enregistrer</button>
</div>
