<!-- Formations professionnelles PASSWORK Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>school</mat-icon>
    </div>
    <h4 class="section-title">Formations professionnelles PASSWORK</h4>
  </div>

  <ng-container
    *ngFor="
      let item of PASSWORK['controls']['trainings']['controls'];
      let i = index
    "
  >
    <div
      class="dynamic-item-card"
      [formGroup]="PASSWORK['controls']['trainings']['controls'][i]"
    >
      <div class="item-header">
        <h5 class="item-title">
          <span class="item-number">{{ i + 1 }}</span>
          Formation
        </h5>
        <div class="item-actions">
          <button
            type="button"
            class="btn-add"
            (click)="addPassworkTraining()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            type="button"
            *ngIf="i != 0"
            class="btn-remove"
            (click)="removePassworkTraining(i)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="form-grid">
        <app-select-input
          class="form-field-full"
          [formControl]="
            PASSWORK.controls['trainings']['controls'][i]['controls'][
              'passwork_training'
            ]
          "
          [label]="'Passwork'"
          [options]="passworks$ | async"
          [isObservable]="true"
          [optionDisplay]="'title'"
        ></app-select-input>

        <app-date-input
          [formControl]="
            PASSWORK.controls['trainings']['controls'][i]['controls'][
              'start_date'
            ]
          "
          [label]="'Date début'"
        ></app-date-input>

        <app-date-input
          [formControl]="
            PASSWORK.controls['trainings']['controls'][i]['controls'][
              'end_date'
            ]
          "
          [label]="'Date fin'"
        ></app-date-input>

        <app-textarea-input
          class="form-field-full"
          [formControl]="
            PASSWORK.controls['trainings']['controls'][i]['controls'][
              'comment'
            ]
          "
          [label]="'Commentaire'"
        ></app-textarea-input>
      </div>
    </div>
  </ng-container>
</div>
