<!-- PASSWORK Professional Training Section -->
<div class="form-section">
  <div class="section-header">
    <div class="section-icon">
      <mat-icon>cast_for_education</mat-icon>
    </div>
    <h4 class="section-title">Formations Professionnelles PASSWORK</h4>
  </div>

  <ng-container *ngFor="let item of PASSWORK['controls']['trainings']['controls']; let i = index">
    <div class="dynamic-item-card">
      <ng-container [formGroup]="PASSWORK['controls']['trainings']['controls'][i]">
        <div class="item-header">
          <h6 class="item-title">
            <span class="item-number">{{ i + 1 }}</span>
            Formation
          </h6>
          <div class="item-actions">
            <button type="button" class="btn-add" (click)="addPassworkTraining()">
              <mat-icon>add</mat-icon>
            </button>
            <button
              type="button"
              *ngIf="i != 0"
              class="btn-remove"
              (click)="removePassworkTraining(i)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

        <div class="form-grid">
          <div class="form-field-full">
            <app-select-input
              [formControl]="PASSWORK.controls['trainings']['controls'][i]['controls']['passwork_training']"
              [label]="'Formation Passwork'"
              [options]="(passworks$ | async)"
              [isObservable]="true"
              [optionDisplay]="'title'"
              [bold]="true"
            ></app-select-input>
          </div>
          <div>
            <app-date-input
              [formControl]="PASSWORK.controls['trainings']['controls'][i]['controls']['start_date']"
              [label]="'Date début'"
            ></app-date-input>
          </div>
          <div>
            <app-date-input
              [formControl]="PASSWORK.controls['trainings']['controls'][i]['controls']['end_date']"
              [label]="'Date fin'"
            ></app-date-input>
          </div>
          <div class="form-field-full">
            <app-textarea-input
              [formControl]="PASSWORK.controls['trainings']['controls'][i]['controls']['comment']"
              [label]="'Commentaire'"
            ></app-textarea-input>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
