<h1 mat-dialog-title>Changer le mot de passe</h1>
<div mat-dialog-content>
  <form [formGroup]="PASSWORD_FORM" autocomplete="off">
    <app-text-input
      [formControl]="PASSWORD_FORM.controls['password']"
      [type]="'password'"
      [label]="'Nouveau mot de passe*'"
    ></app-text-input>
    <app-text-input
      [formControl]="PASSWORD_FORM.controls['repeat_password']"
      [type]="'password'"
      [label]="'Répéter le mot de passe*'"
    ></app-text-input>
  </form>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-stroked-button mat-dialog-close>Annuler</button>
  <button mat-stroked-button [disabled]="!PASSWORD_FORM.valid" (click)="editPassword()" color="primary">Enregistrer</button>
</div>
