/* You can add global styles to this file, and also import other style files */

/////////// PRIMARY COLOR ////////////

/* Add application styles & imports to this file! */
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$mat-myapp-primary: (
  50: #e1ecea,
  100: #b3d1ca,
  200: #81b2a7,
  300: #4f9383,
  400: #297b69,
  500: #03644e,
  600: #035c47,
  700: #02523d,
  800: #024835,
  900: #013625,
  A100: #6effc3,
  A200: #3bffae,
  A400: #08ff9a,
  A700: #00ed8c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-myapp-accent: (
  50: #fffaed,
  100: #fff4d1,
  200: #ffecb3,
  300: #ffe494,
  400: #ffdf7d,
  500: #ffd966,
  600: #ffd55e,
  700: #ffcf53,
  800: #ffca49,
  900: #ffc038,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff5e1,
  A700: #ffedc8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

//////////////////////////////////

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
  background-color: #f0f2f5;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.subtitle {
  border-bottom: 1px solid;
}

.sub_subtitle {
  color: green;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.edit--button {
  color: #ffbc49;
  border: 1px #ffbc49 solid !important;
}

.delete--button {
  color: #e2574c;
  border: 1px #e2574c solid !important;
}

.cv--button {
  color: #416788;
  border: 1px #416788 solid !important;
}

.float-right {
  float: right;
}

.back--button {
  position: absolute;
  left: 20px;
}

.delete {
  color: #e2574c;
}

.p-multiselect, .p-dropdown {
  width: 100% !important;
  margin: 3.5px 0px 0px;
  height: 51px;
  &:hover {
    border: 2px black solid !important;
    border-radius: 5px;
  }
}

.card {
  background: white;
}

.header {
  border-bottom: 1px solid lightgrey;
}

.p-multiselect-label-container {
  padding: 5px;
}

.p-multiselect-label {
  font-size: 14.5px;
}

.p-dropdown-label {
  padding: 15px;
}

div.header {
  color: darkslategray;
}

.footer {
  background-color: white;
}

.advanced-pie-legend .legend-items-container .legend-items {
  line-height: 1.3;
}

.advanced-pie, .advanced-pie-legend-wrapper {
  line-height: 1.2;
}

