<div class="details-container">
  <!-- Header Section -->
  <div class="page-header">
    <div class="header-content">
      <button mat-icon-button class="back-button" routerLink="../">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="header-info">
        <h1 class="page-title">{{ company?.name | titlecase }}</h1>
        <p class="page-subtitle">
          <mat-icon>location_on</mat-icon>
          {{ company?.city }}
        </p>
      </div>
    </div>
    <div class="header-actions">
      <button mat-stroked-button class="btn-edit" [routerLink]="['./edit']" [state]="company">
        <mat-icon>edit</mat-icon>
        Modifier
      </button>
      <button mat-stroked-button class="btn-delete" (click)="remove()">
        <mat-icon>delete</mat-icon>
        Supprimer
      </button>
    </div>
  </div>

  <!-- Main Content -->
  <div class="content-wrapper">
    <!-- Profile Card - Desktop -->
    <div class="profile-sidebar" *ngIf="!isSmallScreen">
      <app-profile-company [company]="company"></app-profile-company>
    </div>

    <!-- Details Section -->
    <div class="details-content">
      <mat-tab-group class="custom-tabs" animationDuration="300ms">
        <!-- Profile Tab - Mobile Only -->
        <mat-tab *ngIf="isSmallScreen">
          <ng-template mat-tab-label>
            <mat-icon>business</mat-icon>
            <span>Profil</span>
          </ng-template>
          <div class="tab-content">
            <app-profile-company [company]="company"></app-profile-company>
          </div>
        </mat-tab>

        <!-- Representative Tab -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            <span>Représentant</span>
          </ng-template>
          <div class="tab-content">
            <app-person-contacted-company [company]="company"></app-person-contacted-company>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
