<div class="container-fluid p-2">
  <div class="row">
    <div *ngIf="!isSmallScreen" class="col-12 col-md-4">
      <app-profile-company
        [company]="company"
      ></app-profile-company>
    </div>
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 button--group">
          <button
            class="m-1 edit--button"
            mat-stroked-button
            color="accent"
            [routerLink]="[ './edit']" [state]="company"
          >
            Modifier<mat-icon>edit</mat-icon>
          </button>
          <button
            class="m-1 delete--button"
            mat-stroked-button
            color="warn"
            (click)="remove()"
          >
            Supprimer<mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-tab-group backgroundColor="primary">
            <mat-tab label="Profile" class="p-2" *ngIf="isSmallScreen">
              <app-profile-company [company]="company"> </app-profile-company>
            </mat-tab>
            <mat-tab label="Représentant" class="p-2">
            <app-person-contacted-company [company]="company"></app-person-contacted-company>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
