<mat-card>
  <img
    mat-card-image
    [src]="
      association?.logo
        ? host + association?.logo
        : 'assets/no_picture_available.png'
    "
    [alt]="association?.raisonSocial"
  />
  <mat-card-content>
    <mat-card-title class="text-center">{{
      association?.raisonSocial | titlecase
    }}</mat-card-title>
    <mat-card-subtitle class="text-center">{{
      association?.name | titlecase
    }}</mat-card-subtitle>
    <p>
      {{ association?.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <a
      mat-icon-button
      matTooltip="Go to Facebook"
      matTooltipPosition="above"
      [href]="association?.socialMedia?.facebook"
      target="_blank"
    >
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a
      mat-icon-button
      matTooltip="Go to Twitter"
      matTooltipPosition="above"
      [href]="association?.socialMedia?.twitter"
      target="_blank"
    >
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a
      mat-icon-button
      matTooltip="Go to Instagram"
      matTooltipPosition="above"
      [href]="association?.socialMedia?.instagram"
      target="_blank"
    >
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a
      mat-icon-button
      matTooltip="Go to Linkedin"
      matTooltipPosition="above"
      [href]="association?.socialMedia?.linkedIn"
      target="_blank"
    >
      <i class="fab fa-linkedin-in fa-2x"></i>
    </a>
    <a
      mat-icon-button
      matTooltip="Go to Website"
      matTooltipPosition="above"
      [href]="association?.webSite"
      target="_blank"
    >
      <i class="fas fa-link fa-2x"></i>
    </a>
  </mat-card-actions>
</mat-card>
